 <!-- Sidebar/menu -->
 <nav class="menuBar w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>GC Fashion</b></h3>
  </div>
  <div class="w3-padding-30 w3-large w3-text-grey" style="font-weight:bold" *ngFor="let c of categories">
    <!-- *ngIf="c.products.length"  -->
    <a (click)="loadProductsByCategory(c)" class="w3-bar-item w3-button">{{c.catName}}</a>
    <div *ngFor="let sc of c.subcategories">
      <!-- *ngIf="sc.products.length"  -->
      <a class="small w3-button"
        (click)="loadProductsBySubCategory(sc.catId, sc.subcatId,c)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sc.subcatName}}</a>
    </div>

  </div><br><br>

  <a href="#footer" class="w3-bar-item w3-button w3-padding-80">Contact</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding"
    onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>
  <a routerLink="../../../gcfashions/shop/products" class="w3-bar-item w3-button w3-padding">Shop</a>
</nav><br>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">


  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <h1 class="w3-left">Hello!</h1>
    <br>
    <br>
    <h2>Past Orders</h2>
    <h3>Total Orders: {{totalTransactions}}</h3>
  </header>

  <ng-container *ngFor="let t of pagedTransaction; let i = index">
    <!-- <div class="w3-col l3 s6" *ngIf="i % 4 == 0 && i != 0"> -->
      <div class="w3-container">
        <div class="w3-display-container">
          <p>Refernce Number {{i}}</p>
          <p>{{t.status}}<br><b>{{t.total | currency: $}}</b></p>

        </div> <!-- end div display container -->
      </div> <!-- end container -->
    <!-- </div> -->
  </ng-container>
</div>

