<header class="w3-container w3-xlarge mt-4">
  <p class="w3-left">{{headerText}}</p>
</header>

<!-- Image header -->
<div class="w3-display-container w3-container">
  <img src="assets/images/thumbnails/{{headerImage}}.jpg" alt="header2 image" style="width:100%">
</div>

<div class="w3-container">
  <!-- message bar -->
  <div #alert class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
  </div>

  <!-- search bar -->
  <form [formGroup]="searchForm" class="form-inline d-flex mt-4">
    <h4>Enter Order Number to Refund: </h4>
    <input type="text" class="form-control ml-3" formControlName="searchString" (input)="search()" placeholder=""
      aria-label="Search" />
  </form>
</div>

<!-- Transaction details / Credit Card Form -->
<div class="w3-display-container w3-container mt-4">
  <table class="table borderless mb-5">
    <thead>
      <tr>
        <th scope="col">
          <h5>Order #</h5>
        </th>
        <th scope="col">
          <h5>Customer</h5>
        </th>
        <th scope="col">
          <h5>Store</h5>
        </th>
        <th scope="col">
          <h5>Total Paid</h5>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of pagedTransactions; let i = index">
        <td>
          {{t.transactionId}}
        </td>
        <td>
          {{t.user.username}}
        </td>
        <td>
          {{t.store.location}}
        </td>
        <td>
          {{t.total | currency: $}}
        </td>
        <td>
          <button type=" button" class="btn btn-outline-dark btn-block" (click)="refund(t)">Refund</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- pagination -->
  <div class="ds-l-row ds-u-margin-top--3">
    <div class="pagination justify-content-center">
      <ngb-pagination [collectionSize]="totalTransactions" [(page)]="pager.currentPage" [pageSize]="pageSize"
        [maxSize]="5" [boundaryLinks]="true" (pageChange)="setPage($event)"></ngb-pagination>
    </div>
  </div>

  <!-- link back to employee account -->
  <hr>

  <div class="w3-display-container w3-container">
    <p class="text-center mt-2"><a routerLink="/gcfashions/sales">Back to Register</a></p>
  </div>
</div>
