 <!-- Sidebar/menu -->
 <nav class="menuBar w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>GC Fashion</b></h3>
  </div>
  <br><br>

  <a href="#footer" class="w3-bar-item w3-button w3-padding-80">Returns</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding"
    onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>
</nav>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">
  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <div>
      <h1 class="w3-left">Hello!</h1>
    </div>

    <!-- logout -->
    <a class="w3-right" id="cart" (click)="logout()"> Logout
      <em click={}>&nbsp;</em>
      <span class="p1 fa-stack fa-1x has-badge">
        <i type="button" class="fa fa-sign-out fa-stack-1x"></i>
      </span>
    </a>
  </header>

  <!-- Image header -->
  <div class="w3-display-container w3-container">
    <img src="assets/images/thumbnails/sales.jpg" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <!-- <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
   <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
   <h1 class="w3-hide-small">COLLECTION 2020</h1>
   <p><a href="/gcfashions/shop/products" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
  -->
    </div>
  </div><br>

  <div class="w3-main">
    <div class="container">
      <div>
        <!-- search bar -->
        <div class="w3-right col-lg-4">
          <form [formGroup]="searchInventoryForm" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control form-control-sm ml-3 w-75" formControlName="searchString"
              (input)="searchInventory()" placeholder="Search" aria-label="Search" />
          </form>
        </div>
        <!-- results -->
        <a>{{sku}} hi</a>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>
